* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #19748F;
    width: 100%;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    width: 50%;
    margin: 2rem auto;
    text-align: center;
    background-color: #E9F3FC;
    padding: 7rem 2rem;
    border-radius: 2rem;
    
}
.content h1 { 
    font-size: 3rem;
    margin-bottom: 1rem;
} 
.container p{
    margin: 0 auto;;
    width: 70%;
    text-align: center;
    margin-bottom: 2rem;
}

.container-figures{
    display: flex;
    text-align: center;
    justify-content: center;
}
.container-figures figure {
    margin-right: 2rem;
}
.container-figures figure img{
    height: 10rem;
    margin-bottom: 2rem;
}
.container-figures figure img:hover {
    border: 5px solid #19748F;
}

.subcontainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.ghost{
    margin-left: 2rem;
    width: 100%;
}
.ghost .price {
    font-size: 2rem;
}

.subcontainer .image {
    margin-left: 2rem;
}
.subcontainer .image img{
    width: 30vh;
}
button{
    border: none;
    background-color: #19748F;
    padding: 1em;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    margin-bottom: 1rem;
}

@media(max-width :768px) {
    .container {
        width: 100%;
    }
    .container-figures figure img{
        height: 5rem;
    }
    .subcontainer {
        flex-direction: column;
    }
    .subcontainer .image {
        margin-left: 0;
    }
}